# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
cols_to_sum = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
pokemon['Total1'] = pokemon[cols_to_sum].sum(axis = 1)

In [5]:
pokemon['Total1'] = pokemon['Total1'] == pokemon['Total']

In [6]:
pokemon['Total1'].value_counts()  # all rows true

False    800
Name: Total1, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [7]:
from sklearn.preprocessing import OneHotEncoder

### one hot encoding to seperate columns.
### Then I will concat whichever have higher value

In [8]:
type1 = pokemon[['Type 1']]
type1

      Type 1
0      Grass
1      Grass
2      Grass
3      Grass
4       Fire
..       ...
795     Rock
796     Rock
797  Psychic
798  Psychic
799     Fire

[800 rows x 1 columns]

In [9]:
encoder = OneHotEncoder().fit(type1)
encoded = encoder.transform(type1).toarray()
type1_encoded = pd.DataFrame(encoded,columns=['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'])

In [10]:
type1_encoded

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
type2 = pokemon[['Type 2']]  # drop NAN 
type2 = type2[type2['Type 2'].isna() == False]
type2

     Type 2
0    Poison
1    Poison
2    Poison
3    Poison
6    Flying
..      ...
795   Fairy
796   Fairy
797   Ghost
798    Dark
799   Water

[414 rows x 1 columns]

In [12]:
encoded = encoder.transform(type2).toarray()
type2_encoded = pd.DataFrame(encoded,columns=['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'])
type2_encoded

C:\Users\aslis\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Type 2
Feature names seen at fit time, yet now missing:
- Type 1

  warnings.warn(message, FutureWarning)

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
410,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### now I concat the tables with choosing which value is greater than the other
### for all values in the table

In [13]:
types_encoded = pd.concat([type1_encoded, type2_encoded]).groupby(level=0).max()
types_encoded

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [14]:
Total = pokemon[['Total']]
Total

     Total
0      318
1      405
2      525
3      625
4      309
..     ...
795    600
796    700
797    600
798    680
799    600

[800 rows x 1 columns]

In [15]:
corr_check = pd.concat([types_encoded,Total], axis=1)

In [16]:
correlations_matrix = corr_check.corr()
correlations_matrix

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying,Total
Grass,1.000000,-0.064184,-0.007468,-0.045111,-0.052107,-0.048645,-0.091947,0.090873,-0.077677,-0.100433,0.015295,-0.069253,-0.120219,-0.037393,-0.096601,-0.070126,-0.042669,-0.132757,-0.138677
Fire,-0.064184,1.000000,-0.045316,-0.025100,0.010564,-0.048934,-0.076292,-0.052974,-0.064452,-0.094640,-0.005010,-0.008740,-0.069070,-0.072955,-0.059032,-0.072275,-0.022837,0.018368,-0.014648
Water,-0.007468,-0.045316,1.000000,-0.065953,-0.010763,-0.068039,0.002734,-0.065705,0.004087,-0.076379,-0.058408,-0.031429,-0.050757,-0.071415,-0.073140,-0.070749,-0.064534,-0.078730,0.138575
Bug,-0.045111,-0.025100,-0.065953,1.000000,-0.059235,-0.006488,-0.056318,0.026237,-0.063775,-0.077534,-0.078062,-0.032271,-0.083219,-0.052274,-0.074269,-0.071515,0.021744,-0.080171,0.013347
Normal,-0.052107,0.010564,-0.010763,-0.059235,1.000000,-0.061108,-0.067075,-0.087206,-0.056665,-0.083206,-0.048655,-0.050520,-0.018916,-0.064141,0.029329,0.025640,0.014490,-0.000800,0.002866
Poison,-0.048645,-0.048934,-0.068039,-0.006488,-0.061108,1.000000,-0.040560,-0.025592,-0.044203,-0.033888,-0.007960,-0.034727,-0.056619,-0.055090,-0.045457,-0.015166,-0.003809,-0.056336,-0.044286
Electric,-0.091947,-0.076292,0.002734,-0.056318,-0.067075,-0.040560,1.000000,0.042565,-0.052280,-0.091561,-0.071641,-0.042287,-0.083937,-0.010156,-0.013794,-0.080980,0.023841,-0.110470,0.056228
Ground,0.090873,-0.052974,-0.065705,0.026237,-0.087206,-0.025592,0.042565,1.000000,-0.077722,-0.079155,-0.087751,-0.047868,-0.009902,-0.004681,-0.085522,-0.017502,-0.096036,-0.023910,-0.035830
Fairy,-0.077677,-0.064452,0.004087,-0.063775,-0.056665,-0.044203,-0.052280,-0.077722,1.000000,-0.089583,0.002859,-0.028826,-0.046123,-0.069057,-0.001030,-0.005792,-0.017183,-0.104268,0.040590
Fighting,-0.100433,-0.094640,-0.076379,-0.077534,-0.083206,-0.033888,-0.091561,-0.079155,-0.089583,1.000000,-0.109652,0.105817,-0.080182,0.018912,-0.065187,-0.039815,-0.075210,-0.044259,-0.052584
Psychic,0.015295,-0.005010,-0.058408,-0.078062,-0.048655,-0.007960,-0.071641,-0.087751,0.002859,-0.109652,1.000000,-0.045092,-0.020869,0.002480,-0.048601,-0.066198,-0.038382,-0.039467,-0.029579
Rock,-0.069253,-0.008740,-0.031429,-0.032271,-0.050520,-0.034727,-0.042287,-0.047868,-0.028826,0.105817,-0.045092,1.000000,-0.066336,-0.061567,-0.039375,-0.060993,-0.055635,-0.076349,-0.025357
Ghost,-0.120219,-0.069070,-0.050757,-0.083219,-0.018916,-0.056619,-0.083937,-0.009902,-0.046123,-0.080182,-0.020869,-0.066336,1.000000,-0.034614,-0.122414,-0.033035,-0.049237,-0.119532,-0.109082
Ice,-0.037393,-0.072955,-0.071415,-0.052274,-0.064141,-0.055090,-0.010156,-0.004681,-0.069057,0.018912,0.002480,-0.061567,-0.034614,1.000000,-0.098291,-0.039961,-0.030040,-0.037301,-0.064853
Dragon,-0.096601,-0.059032,-0.073140,-0.074269,0.029329,-0.045457,-0.013794,-0.085522,-0.001030,-0.065187,-0.048601,-0.039375,-0.122414,-0.098291,1.000000,-0.050784,-0.088820,-0.025757,0.030923
Dark,-0.070126,-0.072275,-0.070749,-0.071515,0.025640,-0.015166,-0.080980,-0.017502,-0.005792,-0.039815,-0.066198,-0.060993,-0.033035,-0.039961,-0.050784,1.000000,-0.029055,-0.116923,0.016584
Steel,-0.042669,-0.022837,-0.064534,0.021744,0.014490,-0.003809,0.023841,-0.096036,-0.017183,-0.075210,-0.038382,-0.055635,-0.049237,-0.030040,-0.088820,-0.029055,1.000000,-0.077271,0.068492
Flying,-0.132757,0.018368,-0.078730,-0.080171,-0.000800,-0.056336,-0.110470,-0.023910,-0.104268,-0.044259,-0.039467,-0.076349,-0.119532,-0.037301,-0.025757,-0.116923,-0.077271,1.000000,-0.009789
Total,-0.138677,-0.014648,0.138575,0.013347,0.002866,-0.044286,0.056228,-0.035830,0.040590,-0.052584,-0.029579,-0.025357,-0.109082,-0.064853,0.030923,0.016584,0.068492,-0.009789,1.000000

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

### I would choose water and dragon it was before, when I used different encoders, and drop NAN later
### WATER and STEEL

In [20]:
correlations_matrix.sort_values(by='Total', ascending=False).head(3)

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying,Total
Total,-0.138677,-0.014648,0.138575,0.013347,0.002866,-0.044286,0.056228,-0.035830,0.040590,-0.052584,-0.029579,-0.025357,-0.109082,-0.064853,0.030923,0.016584,0.068492,-0.009789,1.000000
Water,-0.007468,-0.045316,1.000000,-0.065953,-0.010763,-0.068039,0.002734,-0.065705,0.004087,-0.076379,-0.058408,-0.031429,-0.050757,-0.071415,-0.073140,-0.070749,-0.064534,-0.078730,0.138575
Steel,-0.042669,-0.022837,-0.064534,0.021744,0.014490,-0.003809,0.023841,-0.096036,-0.017183,-0.075210,-0.038382,-0.055635,-0.049237,-0.030040,-0.088820,-0.029055,1.000000,-0.077271,0.068492